<div class="chat-message" id=<%= "chat-message-#{chat_message.id}" %>>
  <% if chat_message.user.photo.attached? %>
    <%= cl_image_tag chat_message.user.photo.key, alt: "profile avatar", class: "avatar" %>
  <% else %>
    <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png", alt: "profile avatar", class: "avatar" %>
  <% end %>
  <p class="chat-message-content"><%= chat_message.content %></p>
  <div class="chat-message-details">
    <p><%= chat_message.user.username %></p>
    <p><small><em>Sent <%= distance_of_time_in_words(chat_message.created_at, Time.now) %> ago</em></small></p>
  </div>
</div>
